* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fafafa;
  --secondary-color: #000088;
  --dark-color: #000;
}

body {
  /* add font here */
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

.header {
  border: 1px solid var(--dark-color);
  display: flex;
  justify-content: space-evenly;
}

.theme-switch {
  width: 50px;
  height: 20px;
  background-color: var(--secondary-color);
}
